@keyframes lineAppear {
  0% {
    height: 0;
  }
  100% {
    height: 3em;
  }
}

.impact-description {
  width: 25%;
  margin: 0 auto;
}

/* Animations styles */

.impact-animation {
  max-width: 32.5vw;
  max-height: 45vh;
  width: 100%;
  height: 100%;
}

.impact-animation-container {
  position: relative;
  margin: 0.25rem auto;
}

.impact-first-text-container {
  position: absolute;
  bottom: -2.5%;
  left: -7.5%;
  width: 45%;
}

.impact-first-text-container .animated-text {
  text-align: right;
}

.impact-second-text-container .animated-text {
  text-align: left;
}

.impact-second-text-container {
  position: absolute;
  bottom: -2.5%;
  right: -2.5%;
  width: 40%;
}

.impact-third-text-container {
  width: 80%;
  position: absolute;
  bottom: -22.5%;
  right: 13.5%;
}

.divisor-line {
  width: 1.5px;
  height: 0;
  margin: -2.5% auto;
  background-color: #ffffff;
  animation: lineAppear 1s ease-in-out forwards;
}

/* Mobile styles */

@media screen and (max-width: 880px) {

  .impact-animation-container {
    margin-top: 4.5em;
  }

  .impact-description {
    width: 100%;
    margin: 0.75em auto;
    margin-bottom: 0;
  }

  .impact-animation {
    max-width: 400px;
    max-height: 450px;
    width: 100%;
    height: 100%;
  }

  .impact-first-text-container {
    bottom: -2.5%;
    left: -5%;
    width: 50%;
  }

  .impact-second-text-container {
    width: 50%;
    bottom: -2.5%;
    right: -7.5%;
  }

  .impact-third-text-container {
    width: 80%;
    bottom: -25%;
    right: 10%;
  }
}
