/* Animations */

@keyframes verticalLine {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes diagonalLeftLine {
  0% {
    transform: scale(0) rotate(40deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(40deg);
    opacity: 1;
  }
}

@keyframes diagonalRightLine {
  0% {
    transform: scale(0) rotate(-40deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(-40deg);
    opacity: 1;
  }
}

@keyframes slide-anim-1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-110px);
  }
}

@keyframes slide-anim-2 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(70px) translateX(90px);
  }
}

@keyframes slide-anim-3 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(70px) translateX(-90px);
  }
}

@keyframes scaleUp-sm {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp-lg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp-xlg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Component styles */

.tools-animation-container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  margin-top: -2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1.25px;
}

.line {
  position: absolute;
  width: 1.25px;
  height: 61px;
  transform: scale(0);
  background-color: #ffffff;
}

.diagonal-line {
  position: absolute;
  width: 65.5px;
  height: 1px;
  background-color: #ffffff;
}

.circle-xsm {
  width: 30px;
  height: 30px;
}

.circle-sm {
  width: 70px;
  height: 70px;
  transform: scale(0);
}

.scale-up-sm {
  animation: scaleUp-sm 0.75s ease-in-out forwards;
  animation-delay: 0.25s;
}

.circle-md {
  width: 95px;
  height: 95px;
}

.circle-lg {
  width: 175px;
  height: 175px;
  transform: scale(0);
}

.scale-up-lg {
  animation: scaleUp-lg 0.75s ease-in-out forwards;
  animation-delay: 1.25s;
}

.circle-xlg {
  width: 225px;
  height: 225px;
  transform: scale(0);
}

.scale-up-xlg {
  animation: scaleUp-xlg 0.75s ease-in-out forwards;
  animation-delay: 2s;
}

.animated-circles-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-anim-1 {
  animation: slide-anim-1 2s ease-in-out forwards;
  animation-delay: 2.75s;
}

.slide-anim-2 {
  animation: slide-anim-2 2s ease-in-out forwards;
  animation-delay: 2.75s;
}

.slide-anim-3 {
  animation: slide-anim-3 2s ease-in-out forwards;
  animation-delay: 2.75s;
}

.line-vertical {
  top: 155px;
  left: 249px;
}

.vertical-line-anim {
  animation: verticalLine 1s ease-in-out forwards;
  animation-delay: 4.5s;
}

.diagonal-left-line-anim {
  animation: diagonalLeftLine 1s ease-in-out forwards;
  animation-delay: 4.5s;
}

.diagonal-right-line-anim {
  animation: diagonalRightLine 1s ease-in-out forwards;
  animation-delay: 4.5s;
}

.right-diagonal-line {
  top: 290px;
  left: 270px;
  transform: scale(0) rotate(40deg);
}

.left-diagonal-line {
  top: 289.5px;
  left: 163.5px;
  transform: scale(0) rotate(-40deg);
}

@media screen and (max-width: 880px) {
  .tools-animation-container {
    width: 300px;
    margin-top: 2.5%;
  }
  
  .line-vertical {
    top: 155px;
    left: 149px;
  }

  .right-diagonal-line {
    top: 290px;
    left: 170px;
  }
  
  .left-diagonal-line {
    top: 289.5px;
    left: 63.5px;
  }
}
