.slide_container {
  z-index: 0;
  position: relative;
  padding-top: 9vh;
  width: 100%;
  height: 90vh;
}

body {
  background-image: url("../../assets/bg-desktop.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  overflow: hidden; 
}

.splide__pagination {
  position: absolute;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__pagination li button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 5px;
}

.splide__pagination li {
  background-color: #D4D4D440;
  padding: 4px;
}

.splide__pagination li:first-child {
  border-radius: 50% 0 0 50%;
  padding-left: 10px;
}

.splide__pagination li:last-child {
  border-radius: 0 50% 50% 0;
  padding-right: 10px;
}

.splide__pagination li button.is-active {
  background-color: #ffffff;
  opacity: 1;
  transform: scale(1.6);
}

.splide__pagination li button:not(.is-active) {
  opacity: 0.5;
  transform: scale(0.7);
}

.splide__arrows {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.splide__arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.page_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 0px 50px;
  text-align: center;
}

.splide-slide {
  height: 0 !important;
}

.splide-slide.is-active {
  height: 100% !important;
}

.navbar {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.navbar_container {
  width: 100%;
  height: 9vh;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  color: rgba(149, 149, 149, 1);
  background-color: rgb(255, 255, 255);
  position: fixed;
}

.nav_logo {
  margin: 1em;
  width: 4%;
  min-width: 25px;
  height: auto;
  cursor: pointer;
}

.nav_items {
  font-family: "Space Grotesk", serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 77vw;
  max-width: 800px;
  gap: 20px;
  min-width: 500px;
  padding-right: 19px;
  text-wrap: nowrap;
}
.nav_item {
  cursor: pointer;
  color: rgba(149, 149, 149, 1);
  transition: 0.3s ease;
}
.nav_item:hover {
  transition: 0.3s ease;
  color: rgb(0, 0, 0);
}

.nav_item:last-child{
  padding-right: 5em;
}

.nav_item_active:last-child{
  padding-right: 5em;
}

.splide__arrow svg {
  fill: rgba(211, 211, 211, 1) !important;
  width: 2.2em;
  height: 2.2em;
}

.splide__arrow {
  background: none !important;
}

.nav_toggle {
  display: none;
}

button {
  background: none;
  border: 0;
}

.nav_item_active {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

@media (max-width: 880px) {
  body {
    background-image: url("../../assets/bg-mobile.gif");
    background-position-y: 0;
  }

  .slide_container {
    margin-top: 10%;
    padding-top: 0;
  }

  .splide__pagination {
    bottom: 15%;
  }

  .splide__pagination li {
    background-color: #D4D4D460;
  }

  /* Navbar styles */
  
  .navbar_container {
    height: 6.8em;
  }

  .nav_toggle {
    width: 3rem;
    height: 3rem;
  }

  .nav_toggle:active {
    background-color: none;
    color: none;
  }

  .nav_items {
    position: fixed;
    top: -105vh;
    left: 0;
    padding-top: 7.5rem;
    padding-right: 0px;
    font-size: 2.25rem;
    z-index: -1;
    height: 100%;
    min-width: 300px;
    max-width: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    background-color: white;
    transition: 0.7s;
    transform: translateY(110vh);
  }

  .nav_item:last-child{
    padding-right: 0;
  }
  
  .nav_item_active:last-child{
    padding-right: 0;
  }

  .nav_toggle {
    display: inline-block;
    margin-right: 30px;
  }

  .responsive_nav {
    transform: none;
  }

  .nav_logo {
    margin: 15px;
    width: 3rem;
    min-width: auto;
    height: auto;
  }

  /* Animations styles */

  .splide__arrows {
    top: 40%;
  }
  
  .splide__arrow {
    font-size: 1em;
    color: '#D4D4D4'
  }

  .splide__arrow svg {
    color: '#D4D4D4'
  }
}