.tools-description {
  width: 30%;
  margin: 0.75em auto;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.9375em;
  text-align: center;
  font-weight: 500;
}

/* Animations styles */

.tools-animation-container {
  position: relative;
  margin: 1rem auto;
  margin-top: 3em;
}

.tools-first-text-container {
  width: 50%;
  position: absolute;
  top: -10%;
  right: 22.5%;
}

.tools-second-text-container {
  width: 50%;
  position: absolute;
  bottom: -5%;
  left: -10%;
}

.tools-third-text-container {
  width: 50%;
  position: absolute;
  bottom: -5%;
  right: -10%;
}

.static-anim {
  /* max-width: 35vw;
  max-height: 50vh; */
  width: 35vw;
  height: 45vh;
}

/* Mobile styles */

@media screen and (max-width: 880px) {

  .tools-animation-container {
    margin: 2.75rem auto;
  }

  .tools-description {
    width: 100%;
  }


  .tools-first-text-container {
    right: 7.5%;
    width: 80%;
  }

  .tools-second-text-container {
    width: 50%;
    bottom: -15%;
    left: -10%;
  }

  .tools-third-text-container {
    width: 50%;
    bottom: -15%;
    right: -10%;
  }
}
