.page_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  padding-bottom: 50px;
  padding: 0px 50px 50px 50px;
  text-align: center;
}

.description {
  margin: 0.75em auto;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.9375em;
  text-align: center;
  font-weight: 500;
}

.title {
  margin: 4.5% auto;
  margin-bottom: 0.5%;
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 2.5em;
  max-width: 700px;
  color: rgb(0, 0, 0);
}

.home-title {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 3rem;
  max-width: 700px;
  color: rgb(0, 0, 0);
}

/* Animations styles */

.home-anim {
  width: 100%;
  height: 100%;
  margin-top: -5%;
  max-width: 430px;
  max-height: 550px;
}

.animation {
  max-width: 37.5vw;
  max-height: 50vh;
  width: 100%;
  height: 100%;
}

/* Mobile styles */

@media screen and (max-width: 880px) {
  .animation {
    max-width: 400px;
    max-height: 450px;
    width: 100%;
    height: 100%;
  }

  .title {
    margin-top: 3em;
    margin-bottom: 1%;
    font-size: 2rem;
    max-width: 700px;
  }

  .home-title {
    font-size: 2rem;
    max-width: 85%;
  }

  .home-anim {
    margin-top: 0;
  }
}
