.flow-description {
  width: 40%;
  text-align: center;
}

/* Animations styles */

.flow-animation-container {
  position: relative;
  margin: 2em auto;
}

.flow-first-text-container {
  position: absolute;
  width: 50%;
  top: -7.5%;
  right: 45%;
}

.flow-first-text-container .animated-text {
  text-align: left;
}

.flow-second-text-container {
  width: 50%;
  top: -7.5%;
  position: absolute;
  right: -5%;
}

.flow-third-text-container {
  width: 60%;
  position: absolute;
  bottom: -7.5%;
  right: 17.5%;
}

/* Mobile styles */

@media screen and (max-width: 880px) {

  .flow-animation-container {
    margin: 2.75rem auto;
  }

  .flow-description {
    width: 110%;
    margin-right: auto;
    margin-left: auto;
  }

  .flow-first-text-container {
    width: 52.5%;
    top: -10%;
    left: -5%;
  }

  .flow-second-text-container {
    width: 60%;
    top: -7.5%;
    position: absolute;
    right: -5%;
  }

  .flow-third-text-container {
    width: 50%;
    position: absolute;
    bottom: -17.5%;
    right: 25%;
  }
}
