*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile{
  display: none;
}
.desktop{
  visibility: inline-block;
}

@media (max-width: 880px){
  .mobile{
      display: inline-block;
  }
  .desktop{
      display: none;
  }

  .tittle-page{
      font-size: 30px;
  }
  .paragraph-page{
      font-size: 14px;
  }
}