.vision-description {
  width: 35%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.9375em;
  text-align: center;
  font-weight: 500;
}

/* Animations styles */

.animation-container {
  position: relative;
  margin: 1em auto;
}

.vision-animation-container {
  margin-top: 2.5em;
}

.first-text-container {
  width: 70%;
  position: absolute;
  top: 0;
  right: 17.5%;
}

.second-text-container {
  width: 50%;
  position: absolute;
  bottom: -5%;
  left: -7.5%;
}

.second-text-container .animated-text {
  text-align: right;
}

.third-text-container {
  width: 60%;
  position: absolute;
  bottom: -5%;
  right: -17.5%;
}

.third-text-container .animated-text {
  text-align: left;
}

/* Mobile styles */

@media screen and (max-width: 880px) {
  .vision-animation-container {
    margin-top: 0.5em;
  }

  .vision-description {
    width: 100%;
    margin: 0.75em auto;
  }

  .first-text-container {
    width: 100%;
    right: 13.5%;
    width: 80%;
  }

  .second-text-container {
    width: 50%;
    bottom: 0;
    left: -10%;
  }

  .third-text-container {
    width: 50%;
    bottom: 0;
    right: -10%;
  }
}
