.vision-description {
  width: 30%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.9375em;
  text-align: center;
  font-weight: 500;
}

/* Animations styles */

.animation-container {
  position: relative;
  margin: 1em auto;
}

.vision-animation-container {
  margin-top: 2.5em;
}

.first-text-container {
  width: 70%;
  position: absolute;
  top: -2.5%;
  right: 17.5%;
}

.second-text-container {
  width: 50%;
  position: absolute;
  bottom: 1%;
  left: -12.5%;
}

.second-text-container .animated-text {
  text-align: right;
}

.third-text-container {
  width: 60%;
  position: absolute;
  bottom: 3%;
  right: -20%;
}

.third-text-container .animated-text {
  text-align: left;
}

.vision-animation {
  max-width: 42.5vw;
  max-height: 60vh;
  width: 100%;
  height: 100%;
}

/* Mobile styles */

@media screen and (max-width: 880px) {
  .vision-animation-container {
    margin-top: 1em;
  }

  .vision-animation {
    max-width: 400px;
    max-height: 450px;
    width: 100%;
    height: 100%;
  }

  .vision-description {
    width: 100%;
    margin: 0.75em auto;
  }

  .first-text-container {
    top: -1.5%;
    right: 13.5%;
    width: 80%;
  }

  .second-text-container {
    width: 45%;
    bottom: 1.75%;
    left: -10.5%;
  }

  .third-text-container {
    width: 45%;
    bottom: 1.75%;
    right: -10.5%;
  }
}
